---
import { Picture, Image } from "@astrojs/image/components"
import heroImage from "@img/hero.png"
import { Link } from "@component/Link"
import { Icon } from "astro-icon"
import { Container } from "@component/Container"
---

<Container
	class="h-[calc(100vh-4rem)] min-h-[580px] py-10 flex flex-col justify-center items-center text-center gap-16"
	id="home"
>
	<div class="flex flex-col text-center items-center justify-center">
		<h1 class="text-2xl sm:text-3xl py-4 px-5 w-fit font-extrabold rounded-xl">
			Hi!<span class="hi">👋</span> Ashish here!
		</h1>
		<a
			href="mailto:ashishlotake@duck.com"
			aria-label="open to work mail me"
			class="animate-bounce highlight-container"
		>
			<span class="text-[13px] md:text-base highlight"> open for work</span>
		</a>

		<p
			class="text-[2.4rem] sm:text-[3.1rem] md:text-[4rem] font-black leading-[1]"
		>
			Machine Learning & Deep Learning <span class="text-sky-500"
				>practitioner</span
			>
		</p>
	</div>
	<div class="gap-3 flex items-center justify-center sm:gap-9">
		<!-- <div class="flex flex-col sm:flex-row items-center gap-2">
			<span
				class="flex items-center font-bold bg-[#0002] py-1 px-2 rounded-md text-neutral-800"
			>
				0.3
			</span>
			<span
				class="text-[0.71rem] sm:text-[0.81rem] leading-[1] text-center sm:text-left text-neutral-800"
				>Years of<br />experience</span
			>
		</div>
		<span
			class="h-8 border-r-[1px] border-dashed border-black dark:border-dark-gray-secondary"
		></span> -->
		<div class="flex flex-col sm:flex-row items-center gap-2">
			<span
				class="flex items-center font-bold bg-[#0002] py-1 px-2 rounded-md text-neutral-800"
			>
				10k+
			</span>
			<span
				class="text-[0.71rem] sm:text-[0.81rem] leading-[1] text-center sm:text-left text-neutral-800"
				>Lines of <br />code written</span
			>
		</div>
		<span
			class="h-8 border-r-[1px] border-dashed border-black dark:border-dark-gray-secondary"
		></span>
		<div class="flex flex-col sm:flex-row items-center gap-2">
			<span
				class="flex items-center font-bold bg-[#0002] py-1 px-2 rounded-md text-neutral-800"
			>
				500+
			</span>
			<span
				class="text-[0.71rem] sm:text-[0.81rem] leading-[1] text-center sm:text-left text-neutral-800"
				>Cups of coffee<br />consumed</span
			>
		</div>
	</div>
	<div class="flex items-center gap-2 sm:gap-6">
		<Link
			aria_label="resume ashish lotake"
			href="https://resume.ashishlotake.com"
			style="herobtn"
			target="_blank"
			class="sm:w-40"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="22"
				height="22"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="1.8"
				stroke-linecap="round"
				stroke-linejoin="round"
				><path
					d="M14.5 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7.5L14.5 2z"
				></path><polyline points="14 2 14 8 20 8"></polyline><line
					x1="16"
					y1="13"
					x2="8"
					y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><line
					x1="10"
					y1="9"
					x2="8"
					y2="9"></line></svg
			>

			<span>Resume</span>
		</Link>

		<Link
			aria_label="contact ashish lotake"
			href="mailto:ashishlotake@duck.com"
			style="herobtn"
			class="sm:w-40 pl-3"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="23"
				height="23"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="1.8"
				stroke-linecap="round"
				stroke-linejoin="round"
				><line x1="7" y1="17" x2="17" y2="7"></line><polyline
					points="7 7 17 7 17 17"></polyline></svg
			>

			Contact
		</Link>
	</div>
	<div class="absolute inset-x-0 bottom-0">
		<div>
			<a
				aria-label="show more project"
				href="#recentproject"
				rel="noopener noreferrer"
				class="md:w-auto overflow-hidden rounded-full inline-flex items-center transition"
			>
				<span
					class="animate-bounce text-black tracking-wide relative inline-block font-normal xl:font-light text-sm sm:text-base xl:text-lg"
				>
					<Icon class="h-8" name="mdi:chevron-double-down" />
				</span>
			</a>
		</div>
	</div>
</Container>
