---
// @ts-ignore
import { Icon } from "astro-icon"
import { Container } from "@component/Container"
---

<Container>
	<footer class="pb-5">
		<div
			class="pt-5 text-gray-600 text-[15px] mt-5 border-t flex flex-col md:flex-row items-center justify-center md:justify-between"
		>
			<div class="pb-5 md:pb-0 flex">
				Built with
				<a
					aria-label="Astro Build Website"
					target="_blank"
					href="https://astro.build/"
				>
					<Icon class="h-6 mt-[1px]" name="vscode-icons:file-type-astro" />
				</a> deployed on
				<a
					aria-label="Vercel Website"
					target="_blank"
					href="https://vercel.com/"
				>
					<Icon
						class="h-5 mt-[1px] mx-1 text-black"
						name="simple-icons:vercel"
					/>
				</a>
			</div>
			<div
				class="flex gap-3 sm:gap-6 md:gap-3 items-center justify-center flex-wrap"
			>
				<a
					aria-label="Twitter for Ashish Lotake"
					target="_blank"
					href="https://twitter.com/Ashish02lotake"
				>
					<Icon class="h-7 hover:text-black" name="mdi:twitter" /></a
				>
				<a
					aria-label="mailto for Ashish Lotake"
					target="_blank"
					href="mailto:ashishlotake@duck.com"
				>
					<Icon class="h-6 hover:text-black" name="simple-icons:maildotru" /></a
				>
				<a
					aria-label="github for Ashish Lotake"
					target="_blank"
					href="https://github.com/ashishlotake"
				>
					<Icon class="h-6 hover:text-black" name="simple-icons:github" /></a
				>
				<a
					aria-label="LinkedIn for Ashish Lotake"
					target="_blank"
					href="https://www.linkedin.com/in/ashish-lotake/"
				>
					<Icon class="h-6 hover:text-black" name="simple-icons:linkedin" /></a
				>
			</div>
		</div>
	</footer>
</Container>
