---
// @ts-ignore
import { Icon } from "astro-icon"
---

<div class="">
	<h2 class="text-center text-slate-500">Technologies I work with</h2>
	<div class="flex gap-3 sm:gap-4 items-center justify-center mt-5 flex-wrap">
		<Icon class="h-8 sm:h-12" name="simple-icons:python" />
		<Icon class="h-8 sm:h-12" name="simple-icons:pytorch" />
		<Icon class="h-8 sm:h-14" name="simple-icons:mysql" />
		<Icon class="h-8 sm:h-16" name="simple-icons:amazonaws" />
		<Icon class="h-8 sm:h-12" name="simple-icons:docker" />
		<Icon class="h-8 sm:h-12" name="simple-icons:kubernetes" />
		<Icon class="h-8 sm:h-12" name="simple-icons:pandas" />
		<Icon class="h-8 sm:h-12" name="simple-icons:linux" />

		<Icon class="h-8 sm:h-12" name="simple-icons:numpy" />
		<Icon class="h-8 sm:h-12" name="simple-icons:tailwindcss" />
		<Icon class="h-8 sm:h-12" name="simple-icons:astro" />
		<!-- <Icon class="h-8 sm:h-12" name="logos:nextjs-icon" /> -->
	</div>
</div>
