---
import { string } from "astro/zod"

interface Props {
	aria_label: string
	href: string
	size?: "md" | "lg" | "sm"
	block?: boolean
	style?: "outline" | "primary" | "muted" | "modal" | any
	class?: string
	[x: string]: any
	target?: any
}

const {
	aria_label,
	target,
	href,
	block,
	size = "lg",
	style = "herobtn",
	class: className,
	...rest
} = Astro.props

const sizes = {
	sm: "p-2",
	lg: "px-5 py-2.5",
	md: "px-4 py-2"
}

const styles = {
	outline: "bg-white border  hover:bg-black text-black hover:text-white ",
	primary: "bg-black text-white hover:bg-gray-800  border-2 border-transparent",
	muted: "bg-gray-100 hover:bg-gray-200   border-2 border-transparent",
	modal:
		"p-2 border-2 border-black bg-black md:bg-gray-200 text-white md:text-black md:hover:bg-black md:hover:text-white",
	herobtn:
		" justify-center p-3  flex items-center gap-1 sm:gap-2 font-semibold text-[0.91rem]   bg-[#0002] transition-colors rounded-lg md:hover:bg-black md:hover:text-gray-200",
	herobtninv:
		" justify-center p-3  flex items-center gap-1 sm:gap-2 font-semibold text-[0.91rem] md:hover:text-black md:hover:bg-[#0002] transition-colors rounded-lg bg-black text-gray-200"
}
---

<a
	target={target}
	aria-label={aria_label}
	href={href}
	{...rest}
	class:list={[
		"no-underline rounded-lg text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200",
		block && "w-full",
		sizes[size],
		styles[style],
		className
	]}
	><slot />
</a>
